# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Garbage Truck.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\MehmethanSargin\Desktop\myrepo\Garbage Truck\.idea\.idea.Garbage Truck\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
